@*@model CompanyCalendar.Models.CheckBoxModel*@
@*@model List<SelectListItem>*@

@{
    ViewBag.Title = "My Calendar";
}


<div id="calender"></div>

<div id="myModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span id="eventTitle"></span></h4>
            </div>
            <div class="modal-body">
                <button id="btnDelete" class="btn btn-default btn-sm pull-right">
                    <span class="glyphicon glyphicon-remove"></span> Remove
                </button>
                <button id="btnEdit" class="btn btn-default btn-sm pull-right" style="margin-right:5px; overflow:auto;">
                    <span class="glyphicon glyphicon-pencil"></span> Edit
                </button>
                <p id="pDetails"></p>
                <hr />
                <p id="pPart"></p>
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <p id="pCreator" style="float:left"></p>

                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>

@* edit form start *@


<div id="myModalSave" class="modal fade" role="dialog" style="overflow:auto">
    <div class="modal-dialog">
        <div class="modal-content col-lg-12">
            <div class="modal-header">
                <div class="row">
                    <div class="col-12">
                        <div class="col-lg-3">
                            <h4 class="modal-title">Save Event</h4>
                        </div>

                        <div class="col-lg-9 float-right">
                            <button type="button" class="btn btn-default" data-dismiss="modal" style="float:right"><span class="glyphicon glyphicon-remove"></span></button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="modal-body">
                <form method="post">
                    <div class="row">
                        @*Subject*@
                        <div class="col-lg-12" id="subjectdiv">
                            <div class="">
                                <div class="form-group">
                                    <label>Subject</label>
                                    <input type="text" id="txtSubject" class="form-control" style="max-width: none" placeholder="Type Meeting Subject" />
                                </div>
                            </div>
                        </div>


                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                @*Start Time*@
                                <div class="row">
                                    <div class="form-group">
                                        <label>Start</label>
                                        <div class="input-group date" id="dtp1">
                                            <input type="text" id="txtStart" class="form-control" />
                                            <span class="input-group-addon">
                                                <span class="glyphicon glyphicon-calendar"></span>
                                            </span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-1"></div>
                            <div class="col-lg-5">
                                <div id="isfulldaydiv">
                                    @*Is Full Day*@
                                    <label style="visibility:hidden">.</label>
                                    <div class="checkbox">
                                        <label><input type="checkbox" id="chkIsFullDay" checked="checked" /> <strong>Full Day</strong></label>
                                    </div>
                                </div>
                            </div>
                        </div>



                        <div class="col-lg-12">
                            @*left Side*@
                            <div class="col-lg-6">
                                <input type="hidden" id="hdEventID" value="0" />
                                <input type="hidden" id="hdRecurID" value="" />
                                <div class="row">
                                    <div class="col-lg-12">
                                        @*End Time*@
                                        <div class="row">
                                            <div class="form-group">
                                                <div id="divEndDate">
                                                    <label>End</label>
                                                    <div class="input-group date" id="dtp2">
                                                        <input type="text" id="txtEnd" class="form-control" />
                                                        <span class="input-group-addon">
                                                            <span class="glyphicon glyphicon-calendar"></span>
                                                        </span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Event Type*@
                                <div class="row">
                                    <div class="form-group">
                                        <label>Event Type</label>
                                        <select id="ddlEventType" class="form-control">
                                            <option value="Meeting">Meeting</option>
                                            <option value="Leave">Leave</option>
                                            <option value="Personal">Personal</option>
                                        </select>
                                    </div>
                                </div>

                                @*Participants*@
                                <div class="row" id="partydiv">
                                    <div class="">
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <label>Participants (case-sensetive:)</label>
                                                <input type="text" id="myInput" class="form-control" placeholder="Search here...">
                                            </div>
                                        </div>
                                        <div style="margin-top:10px"></div>
                                        <div class="row">
                                            <div class="col-lg-12">
                                                <div class="form-group">
                                                    <div id="members" class="form-horizontal" style="height: 100px; overflow-y: auto; overflow-x: hidden; overflow-y: scroll">
                                                        <ul class="cb-container">
                                                            @foreach (var item in ViewBag.party)
                                                            {

                                                                <li>
                                                                    <label>
                                                                        <input id="@item.Value"
                                                                               name="selectedMembers"
                                                                               type="checkbox"
                                                                               value="@item.Text"
                                                                               checked="@item.IsChecked" />
                                                                        @item.Text
                                                                    </label>
                                                                </li>

                                                            }
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                                @*Is Full Day*@
                                @*<div class="row" id="isfulldaydiv">
                                        <div class="form-group">
                                            <label style="visibility:hidden">.</label>
                                            <div class="checkbox">
                                                <label><input type="checkbox" id="chkIsFullDay" checked="checked" /> <strong>Full Day</strong></label>
                                            </div>
                                        </div>
                                    </div>*@

                                @*Color*@
                                <div class="row" id="colordiv">
                                    <div class="form-group">
                                        <label>Priority</label>
                                        <select id="ddThemeColor" class="form-control">
                                            <option value="#ff9999" selected="selected">High</option>
                                            <option value="#ffff66">Medium</option>
                                            <option value="#e6e6ff">Low</option>
                                        </select>
                                    </div>
                                </div>
                            </div>

                            @*Middle*@
                            <div class="col-lg-1">
                                <div class="">
                                </div>
                            </div>

                            @*Right Side*@
                        <div class="col-lg-5">
                            <div class="row"></div>
                            @*Is Recur*@
                            <div class="row">
                                <div class="form-group">
                                    <div class="col-lg-6">
                                        <label style="visibility:hidden">.</label>
                                        <div class="checkbox">
                                            <label><input type="checkbox" id="chkRecur" checked="checked" /> <strong>Recur</strong></label>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div id="isRepeatdiv">
                                @*Recur Type*@
                                <div class="row" id="editRecurType">
                                    <div class="form-group">
                                        <div class="col-lg-6">
                                            <label><input type="radio" id="rdOnlyThis" name="EditChoice" value="only" /> <strong> Only This</strong></label>
                                        </div>
                                        <div class="col-lg-6">
                                            <label><input type="radio" name="EditChoice" id="rdOnward" value="onward" checked="checked" /> <strong> ONW</strong></label>
                                        </div>
                                    </div>
                                </div>

                                @*Repeat Section*@
                                <div class="row">
                                    <div class="form-group">
                                        <label>Repeat:</label>
                                        <select id="ddlRepeat" class="form-control">
                                            <option value="Daily" selected="selected">Daily</option>
                                            <option value="Weekly">Weekly</option>
                                            <option value="Monthly">Monthly</option>
                                            <option value="Yearly">Yearly</option>
                                        </select>
                                    </div>
                                </div>

                                @*Except Day*@
                                <div class="row">
                                    <div class="form-group">
                                        <label>Except Day:</label>
                                        <select id="ddlExceptDay" class="form-control">
                                            <option value="None" selected="selected">None</option>
                                            <option value="Saturday">Saturday</option>
                                            <option value="Sunday">Sunday</option>
                                            <option value="Monday">Monday</option>
                                            <option value="Tuesday">Tuesday</option>
                                            <option value="Wednesday">Wednesday</option>
                                            <option value="Thursday">Thursday</option>
                                            <option value="Friday">Friday</option>
                                        </select>
                                    </div>
                                </div>

                            </div>

                            @*Reminder*@
                            <div class="row">
                                <div class="form-group">
                                    <label>Reminder</label>
                                    <select id="ddlReminder" class="form-control">
                                        <option value="0" selected="selected">No Reminder</option>
                                        <option value="5">Before 5 minutes</option>
                                        <option value="10">Before 10 minutes</option>
                                        <option value="15">Before 15 minutes</option>
                                        <option value="20">Before 20 minutes</option>
                                        <option value="25">Before 25 minutes</option>
                                        <option value="30">Before 30 minutes</option>
                                        <option value="35">Before 35 minutes</option>
                                        <option value="40">Before 40 minutes</option>
                                        <option value="45">Before 45 minutes</option>
                                        <option value="50">Before 50 minutes</option>
                                        <option value="55">Before 55 minutes</option>
                                        <option value="60">Before 60 minutes</option>
                                    </select>
                                </div>
                            </div>

                            @*Reminder All*@
                            @*<div class="row">
                                <div class="form-group">
                                    <div class="">
                                        <label><input type="radio" id="rdRemindAll" name="RemindAll" value="All" /> <strong> For All</strong></label>
                                    </div>
                                </div>
                            </div>*@
                        </div>
                        </div>




                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                @*Location*@
                                <div class="row" id="locdiv">
                                    <div class="form-group">
                                        <label>Meeting Location</label>
                                        <select id="ddEventLoc" class="form-control">
                                            <option value="TL1_BR1" selected="selected">TL1 Board Room 1</option>
                                            <option value="TL1_BR2">TL1 Board Room 2</option>
                                            <option value="TL1_PMR">TL1 Production Meeting Room</option>
                                            <option value="TL1_MR1">TL1 Meeting Room 1</option>
                                            <option value="HEL_MR">Helicon Meeting Room</option>
                                            <option value="FCI_BR">FCI Board Room</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="col-lg-6">
                                <div class="row">
                                    <label style="visibility:hidden">.</label>
                                </div>
                                <div class="row">
                                    <button type="button" id="btnSave" class="btn btn-success" style="float:right">Save</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>


@* edit form end *@

@*Recur remove modal Start *@
<div id="removeModal" class="modal fade" role="dialog">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title"><span>How do you want to remove?</span></h4>
            </div>
            <div class="modal-body">
                <div class="col-lg-12">
                    <div class="col-lg-12">
                        <div class="col-lg-12">
                            <div class="col-lg-6">
                                <label><input type="radio" id="rdOnlyThisRemove" name="RemoveChoice" checked="checked" value="only" /> <strong> Only This</strong></label>
                            </div>
                            <div class="col-lg-6">
                                <label><input type="radio" name="RemoveChoice" id="rdOnwardRemove" value="onward" /> <strong>This & Onward</strong></label>
                            </div>
                        </div>
                    </div>
                </div>
                <hr />
            </div>
            <div class="modal-footer">
                <div class="row">
                    <div class="col-lg-12">
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default float-right" id="btnConfirmRemove">Confirm</button>
                        </div>
                        <div class="col-lg-6">
                            <button type="button" class="btn btn-default float-right" data-dismiss="modal">Close</button>
                        </div>
                    </div>
                </div>

            </div>
        </div>
    </div>
</div>
@*Recur remove modal End *@

<link href="~/Content/fullcalendar_v_3.4.0/fullcalendar.min.css" rel="stylesheet" />
<link href="~/Content/fullcalendar_v_3.4.0/fullcalendar.print.css" rel="stylesheet" media="print" />
<link href="~/Content/bootstrap-datetimepicker_4.17.47/bootstrap-datetimepicker.min.css" rel="stylesheet" />

@section Scripts{
    <script src="~/Content/lib/moment.js_2.18.1/moment.min.js"></script>
    <script src="~/Content/fullcalendar_v_3.4.0/fullcalendar.min.js"></script>
    <script type="text/javascript" src="~/Content/bootstrap-datetimepicker_4.17.47/bootstrap-datetimepicker.min.js"></script>

    <script>
        $(document).ready(function () {
            var events = [];
            var selectedEvent = null;
            FetchEventAndRenderCalendar();
            function FetchEventAndRenderCalendar() {
                $.ajax({
                    type: "GET",
                    url: "/home/GetEventsMyCalendar",
                    success: function (data) {

                        $.each(data, function (i, v) {
                            events.push({

                                eventID: v.EventID,
                                title: v.Subject,
                                subject: v.Title,
                                description: v.Description,
                                color: v.ThemeColor,
                                allDay: v.IsFullDay == true ? true : false,
                                start: moment(v.Start),
                                end: v.End != null ? moment(v.End) : new Date(),
                                createdBy: v.createdBy,
                                createdOn: '',//v.createdOn,
                                userid: v.UserID,
                                username: v.Username,
                                empid: v.EmpID,
                                designation: v.Designation,
                                department: v.Department,
                                participant: v.Participant,
                                eventloc: v.EventLocation,
                                isEmpty: false,
                                loc: v.LocCode,
                                ett: v.EventType,
                                recurid: v.RecurID,
                                isrecur: v.IsRecur,
                                recurend: v.RecurEnd == null ? moment(new Date()) : moment(v.RecurEnd),
                                recurtype: v.RecurType,
                                editType: 'only',
                                exceptday: v.ExceptDay,
                                reminder: v.Reminder
                            });
                        })
                        GenerateCalender(events);
                    },
                    error: function (error) {
                        alert('failed');
                    }
                })
            }
            function GenerateCalender(events) {
                $('#calender').fullCalendar('destroy');
                $('#calender').fullCalendar({

                    contentHeight: 400,

                    defaultDate: new Date(),

                    timeFormat: 'h(:mm)a',
                    header: {
                        left: 'prev,next today',
                        center: 'title',
                        right: 'month,basicWeek,basicDay,agenda'
                    },

                    eventLimit: 5,

                    eventColor: '#e6e6ff',

                    events: events,

                    eventTextColor: 'black',

                    //eventBorderColor: 'black',

                    displayEventEnd: false,

                    displayEventTime: false,

                    eventClick: function (calEvent, jsEvent, view) {
                        selectedEvent = calEvent;
                        //Modal Title
                        $('#myModal #eventTitle').text(calEvent.title);

                        //Modal Body
                        var $description = $('<div/>');
                        var $parts = $('<div/>');
                        var $creator = $('<div/>');
                        var $uid = $('<div/>');
                        $description.append($('<p/>').html('<b>Event Type: </b>' + calEvent.ett));


                        if (calEvent.allDay) {

                            $description.append($('<p/>').html('<b>Duration: All Day.</b> '));
                        }
                        else {
                            $description.append($('<p/>').html('<b>Start:</b> ' + calEvent.start.format("DD-MMMM-YYYY hh:mm a")));
                        }

                        if (calEvent.end != null) {
                            $description.append($('<p/>').html('<b>End:</b> ' + calEvent.end.format("DD-MMMM-YYYY hh:mm a")));
                        }

                        $description.append($('<p/>').html('<b>Location:</b> ' + calEvent.eventloc));
                        //calEvent.eventloc
                        $('#myModal #pDetails').empty().html($description);

                        //Modal Body (Participant)
                        $parts.append($('<p/>').html('<b>Paticipant(s):</b><br />' + calEvent.participant));
                        $('#myModal #pPart').empty().html($parts);

                        //Modal Body (Creator)
                        $creator.append($('<p/>').html('<b>Creator: </b>' + calEvent.subject));
                        $('#myModal #pCreator').empty().html($creator);



                        if (calEvent.userid == @ViewBag.uid) {

                            document.getElementById("btnDelete").style.display = '';
                            document.getElementById("btnEdit").style.display = '';

                        }
                        else {

                            document.getElementById("btnDelete").style.display = 'none';
                            document.getElementById("btnEdit").style.display = 'none';
                        }


                        $('#myModal').modal();


                    },

                    eventRender: function (eventObj, $el) {

                        var people = eventObj.participant;
                        people = people.replace(/<[^>]+>/g, ',');

                        $el.popover({
                            title: eventObj.title,
                            content: 'Participants: ' + people + eventObj.subject,
                            trigger: 'hover',
                            placement: 'top',
                            container: 'body'
                        });
                    },

                    selectable: true,


                    select: function (start, end) {

                        selectedEvent = {
                            eventID: 0,
                            title: '',
                            description: '',
                            start:start,
                            end: end,
                            eventTextColor: 'black',
                            //eventBorderColor: 'black',
                            allDay: false,
                            color: '#85e085',
                            eventloc: 'TL1_BR1',
                            isEmpty: true,
                            ett: "Meeting",
                            isrecur: false,
                            recurid: null,
                            recurend: moment(new Date()),
                            recurtype: "Daily",
                            editType: "only",
                            exceptday: "None",
                            reminder: 0
                        };
                        openAddEditForm();
                        $('#calendar').fullCalendar('unselect');
                    },

                    editable: false

                    //eventDrop: function (event) {
                    //    var data = {
                    //        EventID: event.eventID,
                    //        Subject: event.title,
                    //        Start: event.start.format('DD/MM/YYYY HH:mm A'),
                    //        End: event.end != null ? event.end.format('DD/MM/YYYY HH:mm A') : null,
                    //        Description: event.description,
                    //        ThemeColor: event.color,
                    //        IsFullDay: event.allDay
                    //    };

                    //    SaveEvent(data);
                    //}
                })
            }


            $('#btnEdit').click(function () {


                var checkedall = [];
                $.ajax({
                    type: "POST",
                    url: '/home/EditEvent',
                    data: { eventID: selectedEvent.eventID },
                    success: function (data) {

                        checkedall = Array.from(data);
                    },
                    error: function () {
                        alert('Failed');
                    }
                })


                //Open modal dialog for edit event

                let confirmAction = confirm("Are you sure Edit this event?");
                if (confirmAction) {
                    checkedall.forEach(check_uncheck_checkbox);

                    openAddEditForm();

                }
                else {
                }

            })

            function check_uncheck_checkbox(item) {

                document.getElementById(item).checked = true;
            };


            $('#btnConfirmRemove').click(function () {

                var checkedRemoveRadio = '';
                if (document.getElementById('rdOnlyThisRemove').checked) {
                    checkedRemoveRadio = 'onlyRemove';
                }else if(document.getElementById('rdOnwardRemove').checked) {
                    checkedRemoveRadio = 'onwardRemove';
                }

                    $.ajax({
                        type: "POST",
                        url: '/home/RecurEventRemove',
                        data: { EventID: selectedEvent.eventID,
                                removeType: checkedRemoveRadio,
                                RecurID: selectedEvent.recurid
                              },
                        success: function (data) {
                        if (data.status) {
                            $('#removeModal').modal('hide');
                            $('#myModal').modal('hide');
                            FetchEventAndRenderCalendar();
                            window.location.reload();
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                    })
            })


            $('#btnDelete').click(function () {

                if (selectedEvent.isrecur) {
                    $('#removeModal').modal();

                }
                else
                {
                let confirmAction = confirm("Are you sure Delete this event?");
                if (confirmAction) {

                    $.ajax({
                        type: "POST",
                        url: '/home/DeleteEvent',
                        data: { eventID: selectedEvent.eventID },
                        success: function (data) {
                            if (data.status) {
                                //Refresh the calender
                                $('#myModal').modal('hide'),
                                    FetchEventAndRenderCalendar();
                                window.location.reload();
                            }
                        },
                        error: function () {
                            alert('Failed');
                        }
                    })
                } else {
                }
            }
            })



            $('#chkIsFullDay').change(function () {
                if ($(this).is(':checked')) {
                    $('#divEndDate').hide();
                }
                else {
                    $('#divEndDate').show();
                }
            });

             $('#chkRecur').change(function () {
                if ($(this).is(':checked')) {
                    $('#isRepeatdiv').show();

                }
                else {
                    $('#isRepeatdiv').hide();
                }
            });

            $('#ddlEventType').change(function () {
                var selectedValue = $("#ddlEventType option:selected").text();
                if (selectedValue == "Leave" || selectedValue == "Personal") {
                    document.getElementById("partydiv").style.display = 'none';
                    document.getElementById("locdiv").style.display = 'none';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = 'none';

                    if (selectedValue == "Leave")
                        document.getElementById("subjectdiv").style.display = 'none';
                    else
                        document.getElementById("subjectdiv").style.display = '';
                }
                else {
                    document.getElementById("partydiv").style.display = '';
                    document.getElementById("locdiv").style.display = '';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = '';
                    document.getElementById("subjectdiv").style.display = '';
                }
            });

            function openAddEditForm() {
                $('#ddlEventType').val(function () {
                var selectedValue = $("#ddlEventType option:selected").text();
                if (selectedValue == "Leave" || selectedValue == "Personal") {
                    document.getElementById("partydiv").style.display = 'none';
                    document.getElementById("locdiv").style.display = 'none';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = 'none';

                    if (selectedValue == "Leave")
                    document.getElementById("subjectdiv").style.display = 'none';
                }
                else {
                    document.getElementById("partydiv").style.display = '';
                    document.getElementById("locdiv").style.display = '';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = '';
                    document.getElementById("subjectdiv").style.display = '';
                    }
                });

                if (selectedEvent != null & selectedEvent.isEmpty) {

                    $('#hdEventID').val(selectedEvent.eventID);

                    $('#hdRecurID').val(selectedEvent.recurid);

                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY hh:mm a'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#chkRecur').prop("checked", selectedEvent.isrecur || false);
                    $('#chkRecur').change();

                    document.getElementById("editRecurType").style.display = 'none';
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY hh:mm a') : '');

                    $('#txtReEnd').val(selectedEvent.recurend != null ? selectedEvent.recurend.format('DD/MM/YYYY hh:mm a') : '');

                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                    $('#ddEventLoc').val(selectedEvent.eventloc);
                    $('#ddlEventType').val(selectedEvent.ett);

                    $('#ddlRepeat').val(selectedEvent.recurtype);
                    $('#rdOnlyThis').val("Checked");
                    $('#ddlExceptDay').val(selectedEvent.exceptday);
                    $('#ddlReminder').val(selectedEvent.reminder);

                    $('input[name="selectedMembers"]').each(function () {
                        this.checked = false;
                    });

                }
                else if (selectedEvent != null) {
                    //alert("here");
                    $('#hdEventID').val(selectedEvent.eventID);
                    $('#hdRecurID').val(selectedEvent.recurid);
                    $('#txtSubject').val(selectedEvent.title);
                    $('#txtStart').val(selectedEvent.start.format('DD/MM/YYYY hh:mm a'));
                    $('#chkIsFullDay').prop("checked", selectedEvent.allDay || false);
                    $('#chkIsFullDay').change();
                    $('#chkRecur').prop("checked", selectedEvent.isrecur || false);
                    $('#chkRecur').change();

                    document.getElementById("editRecurType").style.display = '';
                    $('#txtEnd').val(selectedEvent.end != null ? selectedEvent.end.format('DD/MM/YYYY hh:mm a') : '');

                    $('#txtReEnd').val(selectedEvent.recurend != null ? selectedEvent.recurend.format('DD/MM/YYYY hh:mm a') : '');

                    $('#txtDescription').val(selectedEvent.description);
                    $('#ddThemeColor').val(selectedEvent.color);
                    $('#ddEventLoc').val(selectedEvent.loc);
                    $('#ddlEventType').val(selectedEvent.ett);
                    $('#ddlRepeat').val(selectedEvent.recurtype);
                    $('#rdOnlyThis').val("Checked");
                    $('#ddlExceptDay').val(selectedEvent.exceptday);
                    $('#ddlReminder').val(selectedEvent.reminder);
                }

                var selectedValue = $("#ddlEventType option:selected").text();
                if (selectedValue == "Leave" || selectedValue == "Personal") {
                    document.getElementById("partydiv").style.display = 'none';
                    document.getElementById("locdiv").style.display = 'none';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = 'none';

                    if (selectedValue == "Leave")
                    document.getElementById("subjectdiv").style.display = 'none';
                }
                else {
                    document.getElementById("partydiv").style.display = '';
                    document.getElementById("locdiv").style.display = '';
                    //document.getElementById("colordiv").style.display = 'none';
                    document.getElementById("isfulldaydiv").style.display = '';
                    document.getElementById("subjectdiv").style.display = '';
                }

                $('#myModal').modal('hide');
                $('#myModalSave').modal();
            }

            $('#btnSave').click(function () {
                //Validation/
                if ($('#txtSubject').val().trim() == "" && ($("#ddlEventType option:selected").text() == "Meeting" || $("#ddlEventType option:selected").text() == "Personal")) {
                    alert('Subject required');
                    return;
                }
                if ($('#txtStart').val().trim() == "") {
                    alert('Start date required');
                    return;
                }

                if ($('#chkIsFullDay').is(':checked') == false && $('#txtEnd').val().trim() == "") {
                    alert('End date required');
                    return;
                }
                else {
                    var startDate = moment($('#txtStart').val(), "DD/MM/YYYY hh:mm a").toDate();

                    var endDate = moment($('#txtEnd').val(), "DD/MM/YYYY hh:mm a").toDate();
                    if (startDate > endDate) {
                        alert('Invalid end date');
                        return;
                    }
                }

                //if ($('#chkRecur').is(':checked') == true) {
                //    alert('Recur End date required');
                //    return;
                //}

                var selectedValues = [];
                $('#members input:checked').each(function () {
                    selectedValues.push($(this).val());
                });

                var checkedRadio = '';
                if (document.getElementById('rdOnlyThis').checked) {
                    checkedRadio = 'only';
                }else if(document.getElementById('rdOnward').checked) {
                    checkedRadio = 'onward';
                }

                var data = {
                    EventID: $('#hdEventID').val(),
                    RecurID: $('#hdRecurID').val(),
                    Subject: $('#txtSubject').val().trim(),
                    Start: $('#txtStart').val().trim(),
                    End: $('#chkIsFullDay').is(':checked') ? null : $('#txtEnd').val().trim(),
                    Description: $('#txtDescription').val(),
                    ThemeColor: $('#ddThemeColor').val(),
                    IsFullDay: $('#chkIsFullDay').is(':checked'),
                    EventLocation: $('#ddEventLoc').val(),
                    EventType: $('#ddlEventType').val(),
                    IsRecur: $('#chkRecur').is(':checked'),
                    RecurType: $('#ddlRepeat').val(),
                    RecurEnd: $('#txtReEnd').val(),
                    selectedValues: selectedValues,
                    editType: checkedRadio,
                    ExceptDay: $('#ddlExceptDay').val(),
                    Reminder: $('#ddlReminder').val()
                }
                SaveEvent(data);

            })
            // call function for submit data to the server
            function SaveEvent(data) {
                $.ajax({
                    type: "POST",
                    url: '/home/SaveEvent',
                    data: data,
                    success: function (data) {
                        if (data.status) {
                            //Refresh the calender
                            FetchEventAndRenderCalendar();
                            $('#myModalSave').modal('hide');
                            window.location.reload();
                            GenerateCalender(events);
                        }
                    },
                    error: function () {
                        alert('Failed');
                    }
                })
            }

        }
        )

        $(function () {
            $('#myInput').on('keyup', function () {
                var query = this.value;
                $('.cb-container :checkbox').each(function (i, e) {
                    if (e.value.indexOf(query) != -1) {
                        $(e).closest('li').show();
                    }
                    else {
                        $(e).closest('li').hide();
                    }
                });
            });
        });

        $('#dtp1,#dtp2,#dpRcr').datetimepicker({
                format: 'DD/MM/YYYY hh:mm a'
        });

        window.onload = function () {
            //document.getElementById("hideEventType").style.display = 'none';
            document.getElementById("colordiv").style.display = 'none';
        }
    </script>

}
